 *{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;

}
#main{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.shape{ 
     height: 200px;
    width: 200px;
    background-color:white;
    border: 1px solid black;
    margin-left:10px ; margin-top:10px ;
    display: flex;
    align-items: center;
    justify-content: center;
}
#square:hover{
    background-color:red;
}

#circle{
    background-color: aqua;
    border-radius: 50%;
}
#circle:hover{
    background-color: rgb(5, 144, 77);
}
h1{
    font-weight:lighter;
}

#diamond{
    rotate:45deg ;
    margin-top:50px ;
}
#diamond:hover{
    background-color: blue;
}
#diamond h1{
    rotate:-45deg ;
}
 
